.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.icons img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0.5;
}

.icons img:hover {
    opacity: 1;
}